
ul li a{text-decoration:none;color:black!important;}
a{text-decoration:none;color:black!important;}
	.mail{
    display:inline-block;
    width:31%;
    display:inline-block;
    border-radius:0px;
    padding: 6px 6px;
    outline:none;
    border:none;
	height:38px;
	font-size:10px;
}
.form-group{margin-bottom:0px!important;}
.button1{    HEIGHT: 38px;
    font-size: 10px;
    width: 64%;
    margin-left: 10px;
    background-color: #1ebbb0;;
    border: 0px;
    font-weight: 700;}
.container{width:100%}
    .head{FONT-SIZE: 11PX;
    color: black!important;
    margin-top: 20px;}
	.welcome{    font-size: 46px;
    line-height: 38px;
    font-weight: 900;
	    border-right: 2px solid #b6b3b3;}
	.text{    margin-top: 30px;
    line-height: 30px;
    color: grey;
    font-size: 16px;}
	.head2{    float: left;
    padding: 30px;
    background-color: #c5dce9;}
	.feature{ font-size: 46px;
    line-height: 38px;
    font-weight: 900;}
	.text2{    margin-top: 40px;
    color: grey;
	    margin-bottom: 60px;}
	.title{ font-size: 13px;
    font-weight: 900;}
	.row{
	margin-top:40px;
	float:left;
	width:100%;}
	.section1{float:left;
	width:100%;margin-top:20px;}
	.footer1{width:100%;float:left;}
	.seemore{    margin-top: 35px;
    background-color: transparent;
    width: 250px;
    border: none;
    border: 2px solid #1ebbb0;
    color: #1ebbb0;
    font-size: 8px;
    padding: 6px;
	margin-bottom:35px;}
	.p{padding:0px!important;
	position:relative;}
	.align{
    position: absolute;
    top: 25%;
    left: 50%;
	transform: translate(-50%, -50%);
	color:white;
    font-weight: 700;
	font-size:4vw!important;}
	.align2{position: absolute;
    top: 60%;
    left: 44%;
	transform: translate(-50%, -50%);
	color:white;
	font-weight:100;
	font-size:1vw!important;}
	.align3{position: absolute;
    top: 60%;
    left: 69%;
	transform: translate(-50%, -50%);
	color:white;
	font-weight:500;
	font-size:1vw!important;}
	.weight{font-weight:100;margin-top:65px;}
	
	.head li a:hover{background-color: #1ebbb0;}
	.abc{    margin-top: 25px;
    font-weight: 100!important;
    font-size: 26px;
    margin-left: 35px;}
	.footer2{float:left;width:100%;}
	.form2 input {width: 27%!important; margin-left:12px;background:transparent;border:1px solid #c1c1c1; color:#c1c1c1;}
	.form2{margin-top:25px;}
	.button4 {
    width: 27%;
    margin-top: 10px;
    margin-left: 255px;
	HEIGHT: 38px;
    font-size: 10px;
    background-color: #1ebbb0;
    border: 0px;
    font-weight: 700;
	color:white;}

	.lh{line-height:46px;}
	.footer2{background-color:transparent!important;}
	.footfinal{background-color:black;color:white;float:left;width:100%;padding:50px 110px;}
	.footfinal ul li a{color:white!important;line-height:39px!important;}
	.footfinal img{height:50px;}
	.cr{    COLOR: GREY;
    FONT-SIZE: 11PX;
    MARGIN-TOP: 60PX;}
	.sub{    width: 120px;
    height: 30px;
    margin-top: 15px;}
	.arrow{height:30px;width:29px;background-color:#1ebbb0;}
	.child ul > :first-child {
  font-weight:900;
}